<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<style type="text/css">
* { margin:0; padding:0; }
html {
overflow: hidden;
}
</style>
<html>
	<head>
	<title>@SLIDE_NAME@</title>
	    <meta http-equiv="refresh" content="@SLIDE_DURATION@; URL=@AUTO_NEXT_SLIDE_URL@">
		<script type="text/javascript" >
				var CLICK_SOUND = '@CLICK_SOUND_URL@';
				var INITIAL_SOUND = '@SLIDE_SOUND_URL@';
				var CLICK_TIMEOUT = "@CLICK_TIMEOUT@";
				var CLICKED_URL = "@CLICKED_NEXT_SLIDE_URL@";
				var PICTURE_RESIZE_POLICY = "@PICTURE_RESIZE_POLICY@";
				var ACCEPT_CLICK = true;
				var ACCEPT_ALL_KEYS = true;
				var ACCEPT_SPACE_KEY = true;
				function playSoundAndGo(){
					if(ACCEPT_CLICK && CLICKED_URL != ""){ 
		  				DHTMLSound(CLICK_SOUND);
				  		setTimeout('clickLocation()', CLICK_TIMEOUT);
				  	}
				}

				function DHTMLSound(soundUrl) {
					document.getElementById("clickSoundSpan").innerHTML=
				    "<embed src='"+soundUrl+"' hidden=true autostart=true loop=false>";
				}
		
				function clickLocation() {
					//remove embed sound in order no to play it again when coming back to the page
					document.getElementById("clickSoundSpan").innerHTML= "";
					window.location=CLICKED_URL;
				}
				
				function keyPressed(event) {
					if (ACCEPT_ALL_KEYS || (ACCEPT_SPACE_KEY && event.keyCode == 32)) {
						playSoundAndGo();
					}
				}
				function resize(img) {
					var ScreenHeight=window.innerHeight||document.documentElement.clientHeight||document.body.clientHeight;
					var ScreenWidth=window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth 
					if (PICTURE_RESIZE_POLICY == "FIT") {
						img.style.width = 'auto'; 
						img.style.height = 'auto';
						if(img.width / img.height>= ScreenWidth / ScreenHeight) { 
							img.style.width = ScreenWidth +"px"; 
						} else { 
							img.style.height = (ScreenHeight)+"px"; 
						}
					}else { //stretch it
						img.style.width = (ScreenWidth) +"px";  
						img.style.height = (ScreenHeight)+"px";
					} 			
				}
				
		</script>
	</head>
	<body onclick="playSoundAndGo();" onkeypress="keyPressed(window.event);">
		<img src="@PICTURE_URL@" onload="resize(this)"/>
	</body>
			<embed src="@SLIDE_SOUND_URL@" autostart=true id="initialSound"
			enablejavascript="true" hidden="true">
		<span id="clickSoundSpan"></span>
			
</html>
