<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension
         id="diaporama.application.id"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            thread="main"
            visible="true">
         <run
               class="org.ekaii.diaporama.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="org.ekaii.diaporama.rcp.Perspective"
            id="org.eclipse.diaporama.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.diaporama.perspective">
         <view
               closeable="true"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="true"
               ratio="0.7"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:file?before=quit">
         <command
               commandId="org.eclipse.diaporama.command.open"
               icon="icons/fldr_obj.gif">
         </command>
         <command
               commandId="org.eclipse.diaporama.command.new"
               icon="icons/newsiteprj_wiz.gif">
         </command>
         <command
               commandId="org.eclipse.ui.file.save"
               style="push">
         </command>
         <separator
               name="org.ekaii.diaporama.rcp.separator1">
         </separator>
         <command
               commandId="org.ekaii.diaporama.rcp.command.model2Diapo"
               icon="icons/run_tool.gif">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="files.toolbar">
            <command
                  commandId="org.eclipse.diaporama.command.open"
                  icon="icons/fldr_obj.gif">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
            </command>
            <command
                  commandId="org.ekaii.diaporama.rcp.command.model2Diapo"
                  icon="icons/run_tool.gif">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.ekaii.diaporama.rcp.commands.OpenHandler"
            id="org.eclipse.diaporama.command.open"
            name="Ouvrir...">
      </command>
      <command
            defaultHandler="org.ekaii.diaporama.rcp.commands.NewHandler"
            description="Créer un nouveau diaporama"
            id="org.eclipse.diaporama.command.new"
            name="Nouveau...">
      </command>
      <command
            defaultHandler="org.ekaii.diaporama.rcp.commands.ModelToDiapo"
            id="org.ekaii.diaporama.rcp.command.model2Diapo"
            name="Générer le diaporama">
      </command>
      <command
            id="org.eclipse.ui.file.save"
            name="Sauvegarder">
      </command>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="diaporama.application.id"
            name="Handicom">
         <property
               name="appName"
               value="Handicom">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
      </product>
   </extension>

</plugin>
